:root {
    --main-dark-color: #343a40;
    --main-light-color: rgb(248, 249, 250);
}

/* Height is 100% of screen minus the nav */
body {
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    /* overflow: hidden; */
    height: calc(100vh - 56px);
    margin-top: 56px;
}   

main {
    background-color: var(--main-light-color);
}

hr {
    border: 1px solid var(--main-dark-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.socials {
    bottom: 30px;
    left: 25%;
}

.second-title {
    display: none;
}

@media (max-width: 775px) { 
    .first-title {
        display: none;
    }

    .second-title {
        display: flex;
        flex-direction: column;
    }

    .socials {
        bottom: 50px;
    }
}